@font-face {
    font-family: 'Open Sans';
    font-weight: lighter;
    font-style: normal;
    src: url('../inc/fonts/opensans/OpenSans-Light.eot');
    src: url('../inc/fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../inc/fonts/opensans/OpenSans-Light.woff') format('woff'),
         url('../inc/fonts/opensans/OpenSans-Light.ttf') format('truetype'),
         url('../inc/fonts/opensans/OpenSans-Light.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../inc/fonts/opensans/OpenSans-Regular.eot');
    src: url('../inc/fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../inc/fonts/opensans/OpenSans-Regular.woff') format('woff'),
         url('../inc/fonts/opensans/OpenSans-Regular.ttf') format('truetype'),
         url('../inc/fonts/opensans/OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../inc/fonts/opensans/OpenSans-Bold.eot');
    src: url('../inc/fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../inc/fonts/opensans/OpenSans-Bold.woff') format('woff'),
         url('../inc/fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
         url('../inc/fonts/opensans/OpenSans-Bold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../inc/fonts/opensans/OpenSans-Italic.eot');
    src: url('../inc/fonts/opensans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('../inc/fonts/opensans/OpenSans-Italic.woff') format('woff'),
         url('../inc/fonts/opensans/OpenSans-Italic.ttf') format('truetype'),
         url('../inc/fonts/opensans/OpenSans-Italic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: italic;
    src: url('../inc/fonts/opensans/OpenSans-BoldItalic.eot');
    src: url('../inc/fonts/opensans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../inc/fonts/opensans/OpenSans-BoldItalic.woff') format('woff'),
         url('../inc/fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype'),
         url('../inc/fonts/opensans/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
}