/* Previously used styles that I'm not quite ready to permanently delete */

/* 2012-02-14 sub-menu stuff that's no longer used.
/* Dropdown menu subs */
.sub-menu,
ul.children {
  position: absolute;
  top: 40px;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  /* max-width: 220px; */
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  zoom: 1;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.sub-menu .divider,
ul.children .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.sub-menu a,
ul.children a {
display: block;
padding: 3px 15px;
clear: both;
font-weight: normal;
line-height: 18px;
color: #555;
white-space: nowrap;
}

.sub-menu li > a:hover,
.sub-menu .active > a,
.sub-menu .active > a:hover,
.children li > a:hover,
.children .active > a,
.children .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0088cc;
}

.navbar .sub-menu li, .navbar .children li {
    list-style: none;
}

.navbar .sub-menu:before,
.navbar .children:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.navbar .sub-menu:after,
.navbar .children:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 10px;
}

@media only screen and (max-width: 980px) {
  .sub-menu a,
  ul.children a {
    display: block;
    padding: 15px 20px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    font-size: 18px;
    font-size: 1rem;
    color: #555;
    white-space: nowrap;
  }
}
/* Originally had .navbar .nav > li > a.dropdown-toggle:after . Shortened for now since there are no conflicts
   This displays the arrow to indicate a menu item has subs and is a dropdown  */
/* a.dropdown-toggle:after {
  display: inline-block;
  width: 0;    
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #999999;
  color: #999999;
  margin-left: 2px;
  margin-top: 8px;
  content: "\2193";
  overflow: hidden;
} */

/* Changes color of dropdown menu arrow indicator on hover/focus/active */
/* a.dropdown-toggle:hover:after,
a.dropdown-toggle:focus:after,
a.dropdown-toggle:active:after {
  display: inline-block;
  width: 0;    
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FFFFFF;
  margin-left: 2px;
  margin-top: 8px;
  content: "\2193";
  color: #FFFFFF;
  overflow: hidden;
} */

/* Unused for now
.navbar-inner {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 0px 0px 0px 0px;
} */

/* div.nav-collapse.collapse.in {
  overflow: visible;
} */

/* div.collapse.in {
  height:auto !important;
  overflow: visible;
} */

/* Unused for now. Supposedly changes position to accomodate for WP admin bar
.navbar-relative {
  position: relative;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 10000;
} */

/* Unused for now. Related to navbar-relative
.dropdown {
  position: relative;
} */

/* Allows dropdown sub-menus to overflow over the black header bar and into the body, otherwise they get clipped
div.nav-collapse.in {
  overflow: visible;
} */


/* Swapping out styles: replacing 'active' with 'current-menu-item'
----------------------------------------------------------------------------------------*/
/* Ganked from Rachel Baker. Not using it currently.
.navbar .nav .current-menu-item > a {
color: white;
text-decoration: none;
background-color: #222;
background-color: rgba(0, 0, 0, 0.5);
} */

/* Swapping out styles: replacing '.dropdown-menu' with 'sub-menu' 
----------------------------------------------------------------------------------------*/
/* .navbar .sub-menu {
  top: 41px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
} */

/* Pad the div.container-fluid to give more white space around the edges */
/* .container-fluid {
    padding-left: 50px;
    padding-right: 30px;
} */

/* footer.entry-meta is the are below a post that list the post's categories, tags, etc. This padding spaces it out from a post that may come below
footer.entry-meta {
  padding-bottom: .6em;
  border-bottom: solid 1px #ccc;
} */

/* Spaces out area above a post */
/* header.entry-header {
     padding-top: 1.5em;
} */

/* Set margin for page wrapper. Includes masthead and content wrapper */
/* #page {
  margin-left: 15px;
} */

